{% extends "base.html" %}

{% block content %}
<h1>Добавление новости</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.is_private() }} {{ form.is_private.label }}</p>
    <p>
        selected=["Авто"]
    {% for item in ["Спорт", "Авто", "Новости", "Музыка", "Работа"]%}
        {% if item in selected %}
        <button type="button" class="btn btn-secondary" onclick={{ addCategory }}>{{ item }}</button>
        {% else %}
                <button type="button" class="btn btn-danger" onclick={{ addCategory }}>{{ item }}</button>
        {% endif %}

    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}